* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 255, 193);   
}
.back {
    width: 100%;
    height: 100%;
    position: relative;
}

.game {
    border-bottom: 5px solid;
    border-bottom-color: #868a4d;
    height: 500px; 
    width: 1000px;
    position: absolute;
    overflow: hidden;
}

.score {
    position: absolute;
    left: 0;
    font-size: x-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:brown;
    margin-left: 2vw;
}

.shaun {
    position: absolute;
    bottom: 0;
    background-image: url(./home-sheep-home-shaun-the-sheep.gif);
    width: 300px;
    height: 280px;
    background-size: 300px;
    background-repeat: no-repeat;
}

.cogu {
    position: absolute;
    bottom: 0;
    background-image: url(./cogu-removebg-preview.png);
    width: 100px;
    height: 90px;
    background-size: 100px;
    background-repeat: no-repeat;
    animation: cogu 2s linear infinite;
}

@keyframes cogu {
    0% {
        right: -40px;
    }
    100% {
        right: 1050px;
    } 
}

.jump {
    animation: jump 1.0s linear;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    10% {
        bottom: 80px;
    }
    30% {
        bottom: 110px;
    }
    50% {
        bottom: 120px;
    }
    70% {
        bottom: 110px;
    }
    80% {
        bottom: 80px;
    }
    90% {
        bottom: 40px;
    }
    100% {
        bottom: 0;
    }
}